.jumbotron-fluid {
    background-color: rgb(218, 205, 189);
    color: black;
    font-family: 'Times New Roman'; 
    text-align: center;   
}

body {
    background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm31-jj-03-g-fabric_1.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=dc857eb977b76b6928813753c8614051");
    background-color: transparent;
    background-position: center;
    background-repeat: repeat;      
}
.img-thumbnail {
    inline-size: 10cm;
    padding: 1cm;
    border-radius: 22px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float:left;
    
}

.row{
    text-align: left;
    
}
p {
    font-size: 25pt;
}
.red {
    color: red;
}
.hobbies1 li{
    font-size: 30pt;
}

.col-6 p {
    font-family: Arial Bold;
}

.box1 {
    width: 53%;
    border: solid rgb(218, 205, 189);
    border-radius: 22px;
    background-color: papayawhip;
    margin-bottom: 10px;
    padding: 4px;
    font-size: 20pt;
    margin-left: 25%;
}

.resumelist li {
    font-size: 18pt;
}
.all {
    text-align: center;
}

.moen {
    float: left;
    padding-right: 12px;
    border-radius: 12px;
    
}

.all {
    text-align: left;
    list-style-position: inside;
    margin-left: 25%;
}

.education {
    font-size: 15pt;
}